.wrap {
	width:99vmax;
}

h1 {
	font:40px 궁서체;
}
h2 {
	font:17px 궁서체;
}

a {
	text-decoration:none;
	display:inline-block;
}

p {
	position:absolute;
}

/*main*/
main {
	background-image:url(img/backgroundImg.png);
	background-repeat: no-repeat;
	background-position :center;
	background-size:100vw 100vh;
	color:#fff;
	text-align: center;
	position:relative;
	width:100vs;
	height:100vh;
}

/*header*/
header {
	width:100%;
	height:100px;
	padding:20px 0;
}

.logo {
	width:230px;
	float:left;
	padding:0 10px;
	cursor:pointer;
}

/*menu*/

.menu {
	width:55%;
	float:right;
	margin-top:10px;
}

.li {
	width:25%;
	float:left;
	padding:10px 0;
	position:relative;
	cursor:pointer;
	transition-duration:0.7s;
}

.li:hover {
	background:#383A3F;
}

.sub_menu {
	display:none;
	position:absolute;
	top:36px;
	width:100%;
	transition-duration:0.7s;
}

.sub_menu li {
	cursor:pointer;
	transition-duration:0.7s;
}

.sub_menu li a {
	width:100%;
	padding:10px 0;
	color:#fff;
	cursor:pointer;
	background:#383A3F;
}

.sub_menu li:hover {
	opacity:0.8;
}


/*main_box*/
.main_box {
	height:100vh;
	opacity:0;
	transition-duration:3s;
	display: flex;
	justify-content: center;
	text-align: center;
}
.main_box h1 {
	margin-left: 20px;;
	margin-top:70%;
	width:100%;
	font:40px 궁서체;
	letter-spacing:40px;
}

.main_box h2 {
	line-height:1.5;
	letter-spacing:3px;
	font:17px 궁서체;
	margin-top:30px;

}

.main_button {
	cursor:pointer;
	width:45px;
	height:45px;
	position:absolute;
	bottom:20px;
	left:48.5%;
	transition-duration:0.4s;
}

.main_button:hover {
	opacity:0.7;
}

.mail {
	position:absolute;
	bottom:15px;
	right:10px;
	cursor:pointer;
}

.mail > a {
	color:#fff;
}

section > div {
	width:100vmax;
}
.sub_1, .sub_2, .sub_3 {
	height:100vh;
}

/*sub_1*/
.sub_1 {
	width:100%;
	position:relative;
}

.title {
	width:100%;
	height:120px;
	text-align: center;
	padding-top:50px;
}

.sub_1 h1 {
	padding-bottom: 20px;
}

.sub_1 img {
	width:407px;
	height:275px;
	position:absolute;
}

.sub_1_img_1 {
	top:25%;
	left:25%;
}

.sub_1_img_2 {
	top:47%;
	left:15%;
	z-index:-1;
}

.sub_1_img_3 {
	top:54%;
	left:40%;
	z-index:-1;
}

.sub_1 p {
	top:32%;
	left:57%;
	line-height:2;
	font-family:궁서체;
	font-size:18px;
	font-weight: 600;
}

/*sub_2*/

.sub_2 {
	background:url(img/sub_3_background.png) no-repeat center;
	width:100%;
	text-align:center;
	background-repeat: no-repeat;
	background-position : center;
	background-size:100vw 100vh;
}

.sub_2 h1 {
	position:unset;
	line-height:2.5;
}

.sub_2 h2, .sub_2 p {
	position:unset;
}
.sub_2 h2 {
letter-spacing:2px;

}

.sub_2 > .box {
	margin-top:60px;
	line-height:2.5;
}

.sub_2 p {
	margin:30px;
}


/*sub_3*/

.sub_3 {
	width:100%;
	background:url(img/sub_backgroundImg.png) no-repeat center;
	color:#fff;
	background-repeat: no-repeat;
	background-position : center;
	background-size:100vw 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.sub_3 p {
	position: unset;
	padding-top: 20px;

}

.jsScroll {
	opacity:0;
	transition-duration:4s;
}

/*sub_4*/

.sub_4 {
	width:100%;
	height:5500px;
	background:#f2f2f2;
	padding-top:5%;
}

.p {
	font:16px Malgun Cothic;
}

.sub_4 h1 {
	line-height:1.5;
}

.sub_4 h1, .sub_4 p {
	position:unset;
}

.background {
	width:80%;
	height:96%;
	background:#fff;
	border-radius:10px;
	padding-top:5%;
	margin:auto;
}

.jsImg {
	transition-duration:0.3s;
	cursor:pointer;
}

.jsImg:hover {
	transform:scale(1.1);
}

.sub_4 img, .sub_4 .text {
	width:35%;
	height:305px;
	text-align:center;
}

.sub_4 .box {
	width:85%;
	height:350px;
	margin:0% 7% 3% 7%;
}


.sub_4 .text {
	line-height:2.5;
	display:flex;
	align-items:center;
	justify-content:center;
}

.sub_4 .left {
	float:left;
}

.sub_4 .right {
	float:right;
}

.p_text {
	line-height:2.5;
}

/*box_2*/

.box_2 h1 {
	font-size:30px;
}

.title_2 {
	width:95%;
	height:80px;
	margin:0 0 2% 5%;
	line-height:2;
}

.title_2 p {
	margin-left:40px;
}

.background_gray {
	background:#f2f2f2;
	width:99.8%;
	height:310px;
	position:relative;
	border:1px solid #fff;
	margin-bottom:7%;
}

.background_gray img, .square, .jsBox {
	width:265px;
	height:205px;
	position:absolute;
	top:18%;
	cursor:pointer;
	color:#fff;
}

.jsBox {
	display:flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.jsBox:hover {
	opacity:1;
	background:rgb(0, 0, 0, 0.7)
}

.square {
	background:#fff;
	top:15%;
}

.f{
	left:5%;
}

.f_img {
	left:6%;
}

.t {
	left:40%;
}

.t_img {
	left:41%;
}

.th {
	right:7%;
}

.th_img {
	right:6%;
}

.jsBox {
	background:#000;
	opacity:0;
	transition-duration:1s;
}


.jsText {
	position:absolute;
	color:#fff;
	top:50%;
	opacity:0;
	transition-duration:1s;
	letter-spacing:10px;
}

.fText {
	left:15%;	
}

.tText {
	left:47%;
}

.thText {
	right:13.5%;
}

/*box_2_2*/

.tow > div {
	text-align:center;
	margin-top:40px;
}

.tow img {
	position:unset;
	margin-top:5px;
	padding:10px;
}

.box_2_img {
	width:60%;
	height:100%;
	float:left;
}

.box_2_text {
	width:35%;
	height:100%;
	float:left;
	line-height:2.5;
}

/*sub_5*/

.sub_5 {
	width:100%;
	height:100%;
	text-align:center;
	position:relative;
}

.sub_5 h1, .sub_5 p {
	position:unset;
}

.directions {
	height:214px;
	background-image:url(img/sub_5_background.png);
	background-repeat: no-repeat;
	background-position : center;
	background-size: cover;
	position:unset;
}

.directions h1, .directions p {	
	color:#fff;
} 

.directions h1 {
	padding-top:55px;
	line-height:2;
}

.box_3 {
	width:100%;
	padding-top:50px;
	height:1050px;
	background:#f2f2f2;
}

.map {
	background:#fff;
	width:65%;
	height:350px;
	display:inline-block;
}

.sub_5_textBox {
	width:57%;
	height:400px;
	display:inline-block;
	padding-top:30px;
}

.sub_5_textBox p {
	padding-top:30px;
	text-align:left;
	line-height:2.5;
}

.sub_5 .right {
	position:absolute;
	top:49%;
	right:20%;
}

.sub_5 img {
	width:370px;
	height:250px;
	border:2px solid #fff;
	position:absolute;
	bottom:10%;
	right:18%;
	cursor:pointer;
}

.small {
	font-size:13px;
}


/*footer*/

footer {
	width:100%;
	height:220px;
	padding-top:40px;
	background:#222;
	color:#fff;
	text-align:center;
	position:relative;
}

.footer_box {
	width:95%;
	display:inline-block;
	text-align:left;
}

footer p {
	text-align:left;
	margin-top:40px;
	line-height:2;
	font-size:12px;
}

.orange {
	bottom:6%;
	left:32%;
	color:#fb7813;
}

.me {
	right:1%;
	bottom:6%;
	line-height:1;
	font-size:13px;
}

/*1390*/
@media(max-width:1390px) {
	.wrap {
		width:98.6vmax;
	}

	/*sub_1*/
	.sub_1_img_2, .sub_1_img_3 {
		display:none;
	}
	.sub_1 img {
		width:500px;
		height:350px;
	}
	.sub_1_img_1 {
		left:10%;
	}
	.sub_1 p {
		top:40%;
		left:54%;
	}

	/*sub_4*/
	.sub_4 {
		height:5200px;
	}
	
	.box > img, .sub_4 .text {
		width:45%;
	}

	/*sub_5*/
	.sub_5 img {
		width:260px;
		height:200px;
	}
}

/*1240*/
@media(max-width:1240px) {
	.wrap {
		width:98.5vmax;
	}
	/*sub_1*/
	.sub_1 img {
		width:40%;
		height:50%;
		left:10%;
	}

	/*sub_4*/
	.background_gray img, .square, .jsBox {
		width:225px;
	}
	.t {
		left:37.5%;
	}
	.t_img {
		left:38.5%;
	}
	.box_2_text {
		font-size:15px;
	}
	/*sub_5*/ 
	.sub_5_textBox img {
		display: none;
	}
	.sub_5 .right {
		top:51%;
		right:22%;
	}
}

/*1020*/
@media(max-width:1020px) {
	.wrap {
		width:98vmax;
	}
	h1 {
		font-size:35px;
	}
	/*sub_4*/
	.sub_4 {
		height:4800px;
	}
	.background {
		height:98.5%;
	}
	.box > img, .sub_4 .text {
		height:260px;
	}
	.sub_4 p, .sub_4 div {
		font-size:13px;
	}
	.background_gray img, .square, .jsBox {
		width:190px;
		height:180px;
		top:20%;
	}

	/*sub_5*/
	.sub_5 .right {
		display:none;
	}

	/*footer*/ 
	.orange {
		display:none;
	}
}

/*900*/
@media(max-width:900px) {
	/*sub_4*/
	.background_gray img, .square, .jsBox {
		width:160px;
		height:150px;
		top:25%;
	}
	h1 {
		font-size:30px;
	}
}

@media(max-width:850px) {
	.wrap {
		width:97vw;
	}
	.sub_1 img {
		height:37%;
	}
}

/*800*/
@media(max-width:800px) {

/*main*/

.logo {
	display:none;
}
header {
	padding:0;
}
.menu {
	width:100%;
	height:60px;
	line-height:2.5;
	margin:0;
	float:none;
}

/*sub_1*/

.sub_1_img_1 {
	top:30%;
}

/*sub_4*/
.sub_4 {
	height:5000px;
	text-align:center;
}
.background {
	padding-top:10%;
}
.none {
	display:none;
}
.sub_4 h1 {
	height:200px;
	font-size:30px;
}
.sub_4 img {
	width:80%;
	height:300px;
}
.sub_4 .text {
	width:100%;
}
.sub_4 .left, .sub_4 .right {
	float:none;
}
.sub_4 p {
	padding-top:120px;
}

.background_gray {
	height:170px;
}
.background_gray img, .square, .jsBox {
	width:165px;
	height:105px;
}
.box_2 h1 {
	line-height:4;
}
.fText {
	left:13.5%;
}
.tText {
	left:46%;
}
.thText {
	right:12.5%;
}
.jsText {
	top:45%;
}
.sub_4 p {
	display:none;
}

.box_2_img {
	width:40%;
}
.box_2_img img {
	width:200px;
	height:135px;
	position:absolute;
	top:3px;
	left:10px;
}
.box_2_text {
	margin:0;
	width:50%;
}
.box_2_text p {
	display:block;
	padding:0;
	position:absolute;
	top:25px;
}
.margin2 {
	margin-top:250px;
}

/*sub_5*/

.sub_5_textBox {
	width:80%;
	font-size:14px;
}

.sub_5 .right {
	right:7%;
}

.sub_5 img {
	width:200px;
	height:130px;
	bottom:19%;
	right:10%;
}

/*footer*/
.me {
    right: 3%;
    bottom: 8%;
 }
}

/*690*/
@media(max-width:690px) {
	.sub_1 {
		display:none;
	}
}


 /*500*/
@media(max-width:500px) {
/*main*/ 
main, .sub_3 {
	background-attachment: fixed;
}
.main_button {
	display:none;
}
/*sub_4*/
.sub_4 {
	height:4650px;
}
.background {
	padding-top:5%;
}
.sub_4 .box {
	height:400px;
}
.sub_4 img, .sub_4 .text {
	width:330px;
	margin-left:0;
}

.sub_4 p {
	font-size:15px;
}

.box_2 {
	display:none;
}

/*sub_5*/

.map {
	width:85%;
}

.box_3 {
	height:1130px;
}

.sub_5 img, .me {
	display:none;
}

.sub_5 .right {
	position:unset;
}

}	

/*360*/
@media(max-width:360px) {
	.li {
		font-size:13px;
	}
	.wrap {
		width:100vw;
	}
	.sub_4 img {
		width: 80%;
		height: 200px;
	}
}